mixin article(className, data)
    a.article(class=className href=data.href)
        img.article__img(src=data.image.url, alt='Article image name')
        .article__publication-info.
            By #[span.article__author #{data.author}] | #{data.date}
        h5.article__title(class=(data.highlight ? 'highlight' : '') ) #{data.title}
