mixin article(className, data)
    div.article(class=className)
        img.article__img(src=data.image.url, alt=data.image.url)
        .article__publication-info
            | By #{data.author} | #{data.date}
        h4.article__title #{data.title}
