mixin button(text='Click me',primary=true,ripple=true)
    - const classes = `${primary ? 'btn--primary':'btn--secondary'} ${attributes.class ? attributes.class: ''}`

    button.btn(
        class=classes,
        data-effect=ripple?'ripple':'null'
    )
        =text
